
		<!-- Page Title
		============================================= -->
		<section class="page-title bg-transparent">
			<div class="container">
				<div class="page-title-row">

					<div class="page-title-content">
						<h1>Website Costing</h1>
					</div>

					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item"><a href="#">Forms</a></li>
							<li class="breadcrumb-item active" aria-current="page">Website Costing</li>
						</ol>
					</nav>

				</div>
			</div>
		</section><!-- .page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">

					<div class="row">
						<div class="col-lg-4 order-lg-1 mb-4">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="w-50">Items:</th>
											<th class="w-50">Price:</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Responsive Design:</td>
											<td class="responsive-value fw-semibold">$0</td>
										</tr>
										<tr>
											<td>Retina Design:</td>
											<td class="retina-value fw-semibold">$0</td>
										</tr>
										<tr>
											<td>Website Type:</td>
											<td class="website-type-value fw-semibold">$0</td>
										</tr>
										<tr>
											<td>Style of Design:</td>
											<td class="design-value fw-semibold">$0</td>
										</tr>
										<tr>
											<td># of Pages:</td>
											<td class="pages-value fw-semibold">$0</td>
										</tr>
										<tr>
											<td>CMS:</td>
											<td class="cms-value fw-semibold">$0</td>
										</tr>
										<tr>
											<td>SEO Keywords:</td>
											<td class="seo-value fw-semibold">$0</td>
										</tr>
										<tr>
											<td>Google Analytics:</td>
											<td class="google-analytics-value fw-semibold">$0</td>
										</tr>
										<tr>
											<td>Before 30 Days:</td>
											<td class="urgent-value fw-semibold">$0</td>
										</tr>
										<tr>
											<th class="fw-semibold h5 mb-0">Total</th>
											<th class="total-price h5 fw-semibold mb-0">$0</th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="col-lg-8">
							<div class="form-widget">
								<div class="form-result"></div>
								<form class="row mb-0" id="website-cost" action="include/form.php" method="post" enctype="multipart/form-data">
									<div class="form-process">
										<div class="css3-spinner">
											<div class="css3-spinner-scaler"></div>
										</div>
									</div>
									<div class="col-md-6 form-group mb-4">
										<label class="mb-3">Responsive Design:</label><br>
										<div class="btn-group">
											<input type="radio" class="btn-check required" name="website-cost-responsive" id="website-cost-responsive-no" checked data-price="0" autocomplete="off" value="Dekstop">
											<label for="website-cost-responsive-no" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">Dekstop</label>
											<input type="radio" class="btn-check required" name="website-cost-responsive" id="website-cost-responsive-yes" data-price="1000" autocomplete="off" value="Dekstop + Mobile">
											<label for="website-cost-responsive-yes" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">Dekstop &amp; Mobile</label>
										</div>
									</div>

									<div class="col-md-6 form-group mb-4">
										<label class="mb-3">Retina Design:</label><br>
										<div class="btn-group">
											<input type="radio" class="btn-check required" name="website-cost-retina" id="website-cost-retina-yes" data-price="1000" autocomplete="off" value="Yes Please!">
											<label for="website-cost-retina-yes" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">Yes Please!</label>
											<input type="radio" class="btn-check required" name="website-cost-retina" id="website-cost-retina-no" checked data-price="0" autocomplete="off" value="No Thanks!">
											<label for="website-cost-retina-no" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">No Thanks!</label>
										</div>
									</div>

									<div class="col-12 form-group mb-4">
										<label for="website-cost-type" class="mb-3">Website Type:</label><br>
										<div class="btn-group flex-wrap">
											<input type="radio" class="btn-check required" name="website-cost-type" id="website-cost-type-corporate" autocomplete="off" data-price="200" value="Corporate">
											<label for="website-cost-type-corporate" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">Corporate</label>
											<input type="radio" class="btn-check required" name="website-cost-type" id="website-cost-type-ecommerce" autocomplete="off" data-price="400" value="eCommerce">
											<label for="website-cost-type-ecommerce" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">eCommerce</label>
											<input type="radio" class="btn-check required" name="website-cost-type" id="website-cost-type-blog" autocomplete="off" data-price="100" value="Blog">
											<label for="website-cost-type-blog" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">Blog</label>
											<input type="radio" class="btn-check required" name="website-cost-type" id="website-cost-type-personal" autocomplete="off" data-price="80" value="Personal">
											<label for="website-cost-type-personal" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">Personal</label>
											<input type="radio" class="btn-check required" name="website-cost-type" id="website-cost-type-database" autocomplete="off" data-price="300" value="Database">
											<label for="website-cost-type-database" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">Database</label>
										</div>
									</div>
									<div class="col-12 form-group mb-4">
										<label for="website-cost-design" class="mb-3">Style of Design:</label><br>
										<div class="btn-group flex-wrap">
											<input type="radio" class="btn-check required" name="website-cost-design" id="website-cost-design-basic" autocomplete="off" checked data-price="0" autocomplete="off" value="Basic">
											<label for="website-cost-design-basic" class="btn btn-outline-secondary px-5 fw-semibold ls-0 text-transform-none">Basic</label>
											<input type="radio" class="btn-check required" name="website-cost-design" id="website-cost-design-flat" autocomplete="off" data-price="500" value="Flat">
											<label for="website-cost-design-flat" class="btn btn-outline-secondary px-5 fw-semibold ls-0 text-transform-none">Flat</label>
											<input type="radio" class="btn-check required" name="website-cost-design" id="website-cost-design-modern" autocomplete="off" data-price="1500" value="Modern">
											<label for="website-cost-design-modern" class="btn btn-outline-secondary px-5 fw-semibold ls-0 text-transform-none">Modern</label>
										</div>
									</div>
									<div class="col-8 form-group mb-4">
										<label for="website-cost-design" class="mb-3">Number of Pages:</label><br>
										<input id="website-cost-pages" name="website-cost-pages" class="website-pages required input-range-slider">
									</div>

									<div class="col-12 form-group mb-4">
										<label for="website-cost-cms" class="mb-3">CMS:</label><br>
										<div class="btn-group flex-wrap">
											<input type="radio" class="btn-check required" name="website-cost-cms" id="website-cost-cms-wordpress" autocomplete="off" data-price="1200" value="Wordpress" >
											<label for="website-cost-cms-wordpress" class="btn btn-outline-secondary px-4 fw-semibold ls-0 text-transform-none"><i class="fa-brands fa-wordpress-simple"></i> Wordpress</label>
											<input type="radio" class="btn-check required" name="website-cost-cms" id="website-cost-cms-magento" autocomplete="off" data-price="800" value="Magento">
											<label for="website-cost-cms-magento" class="btn btn-outline-secondary px-4 fw-semibold ls-0 text-transform-none"><i class="fa-brands fa-magento"></i> Magento</label>
											<input type="radio" class="btn-check required" name="website-cost-cms" id="website-cost-cms-drupal" autocomplete="off" data-price="1400" value="Drupal">
											<label for="website-cost-cms-drupal" class="btn btn-outline-secondary px-4 fw-semibold ls-0 text-transform-none"><i class="fa-brands fa-drupal1"></i> Drupal</label>
											<input type="radio" class="btn-check required" name="website-cost-cms" id="website-cost-cms-joomla" autocomplete="off" data-price="1700" value="Joomla">
											<label for="website-cost-cms-joomla" class="btn btn-outline-secondary px-4 fw-semibold ls-0 text-transform-none"><i class="fa-brands fa-joomla"></i> Joomla</label>
										</div>
									</div>

									<div class="col-8 form-group mb-4">
										<label for="website-cost-seo" class="mb-3">SEO Placement:</label><br>
										<input id="website-cost-seo" name="website-cost-seo" class="website-seo input-range-slider required">
									</div>

									<div class="col-md-6 form-group mb-4">
										<label class="mb-3">Google Analytics Implementation:</label><br>
										<div class="btn-group">
											<input type="radio" class="btn-check required" name="website-cost-google-analytics" id="website-cost-google-analytics-yes" data-price="1000" autocomplete="off" value="Yes">
											<label for="website-cost-google-analytics-yes" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">Yes</label>
											<input type="radio" class="btn-check required" name="website-cost-google-analytics" id="website-cost-google-analytics-no" checked data-price="0" autocomplete="off" value="No">
											<label for="website-cost-google-analytics-no" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">No</label>
										</div>
									</div>

									<div class="col-md-6 form-group mb-4">
										<label class="mb-3">Before 30 Days:</label><br>
										<div class="btn-group">
											<input type="radio" class="btn-check required" name="website-cost-before-30-days" id="website-cost-before-30-days-yes" data-price="500" autocomplete="off" value="Yes">
											<label for="website-cost-before-30-days-yes" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">Yes! It's Urgent</label>
											<input type="radio" class="btn-check required" name="website-cost-before-30-days" id="website-cost-before-30-days-no" checked data-price="0" autocomplete="off" value="No! Take Your Time">
											<label for="website-cost-before-30-days-no" class="btn btn-outline-secondary px-3 fw-semibold ls-0 text-transform-none">No! Take Your Time</label>
										</div>
									</div>

									<div class="col-md-6 form-group mb-4">
										<label for="website-cost-name">Name:</label>
										<input type="text" name="website-cost-name" id="website-cost-name" class="form-control required" value="" placeholder="Enter your Full Name">
									</div>
									<div class="col-md-6 form-group mb-4">
										<label for="website-cost-contact">Contact:</label>
										<input type="text" name="website-cost-contact" id="website-cost-contact" class="form-control required" value="" placeholder="Enter your Contact Number">
									</div>
									<div class="col-12 form-group mb-4">
										<label for="website-cost-email">Email:</label>
										<input type="email" name="website-cost-email" id="website-cost-email" class="form-control required" value="" placeholder="Enter your Email">
									</div>

									<div class="col-12 form-group mb-4">
										<label for="website-cost-message">Additional Message (Optional):</label>
										<textarea name="website-cost-message" id="website-cost-message" class="form-control" cols="30" rows="10"></textarea>
									</div>

									<div class="col-12 d-none">
										<input type="text" id="website-cost-botcheck" name="website-cost-botcheck" value="">
									</div>
									<div class="col-12">
										<button type="submit" name="website-cost-submit" class="btn btn-success btn-lg">Confirm</button>
									</div>

									<input type="hidden" name="prefix" value="website-cost-">
									<input type="hidden" name="subject" value="Website Cost Estimate Request">
									<input type="hidden" name="html_title" value="Website Cost Estimation">
									<input type="hidden" id="website-cost-price" name="website-cost-total-price" value="">
								</form>
							</div>
						</div>


					</div>

				</div>
			</div>
		</section><!-- #content end -->

