
<div class="row">
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-bounce1"></div>
			<div class="css3-spinner-bounce2"></div>
			<div class="css3-spinner-bounce3"></div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-flipper"></div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-double-bounce1"></div>
			<div class="css3-spinner-double-bounce2"></div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-rect1"></div>
			<div class="css3-spinner-rect2"></div>
			<div class="css3-spinner-rect3"></div>
			<div class="css3-spinner-rect4"></div>
			<div class="css3-spinner-rect5"></div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-cube1"></div>
			<div class="css3-spinner-cube2"></div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-scaler"></div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-grid-pulse">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-clip-rotate">
				<div></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-ball-rotate">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-zig-zag">
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-triangle-path">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-ball-scale-multiple">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-ball-pulse-sync">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-6" style="height:12.5rem;">
		<div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
			<div class="css3-spinner-scale-ripple">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
</div>
